<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caiqian.mapper.AppInfoMapper" >

    <resultMap id="base" type="com.caiqian.Bean.AppInfo">
        <id property="id" column="app_id"></id>
        <result property="apkName" column="apk_name"></result>
        <result property="softwareName" column="software_name"></result>

        <result property="softwareSize" column="software_Size" javaType="java.math.BigDecimal"></result>
        <!--<result property="flatformId" column="flatform_Id"></result>-->
        <!--<result property="status" column="status"></result>-->
        <result property="downloads" column="downloads"></result>
    </resultMap>

    <resultMap id="appInfoDetail" type="com.caiqian.Bean.AppInfo" extends="base">
        <association property="flatform" javaType="com.caiqian.Bean.DataDictionary">
            <result property="valueName" column="value_name"></result>
        </association>
        <association property="appStatus" javaType="com.caiqian.Bean.DataDictionary">
            <result property="valueName" column="app_status"></result>
        </association>
        <association property="newAppVersion" javaType="com.caiqian.Bean.AppVersion">
            <id property="id" column="versionId"></id>
            <result property="versionNo" column="version_no"></result>
        </association>
        <association property="categoryLevel1" javaType="com.caiqian.Bean.AppCategory">
            <result property="categoryName" column="category_level_one_name"/>
        </association>
        <association property="categoryLevel2" javaType="com.caiqian.Bean.AppCategory">
            <result property="categoryName" column="category_level_two_name"/>
        </association>
        <association property="categoryLevel3" javaType="com.caiqian.Bean.AppCategory">
            <result property="categoryName" column="category_level_three_name"/>
        </association>
    </resultMap>

    <!--<resultMap id="appInfoWithThreeCategoryAndVersion" type="com.caiqian.Bean.AppInfo" extends="base">-->
        <!--<association property="newAppVersion" javaType="com.caiqian.Bean.AppVersion">-->
            <!--<id property="id" column="version_Id"></id>-->
            <!--<result property="versionNo" column="version_No"></result>-->
        <!--</association>-->
        <!--<association property="categoryLevel1" javaType="com.caiqian.Bean.AppCategory">-->
            <!--<result property="categoryName" column="categoryLevel1Name"/>-->
        <!--</association>-->
        <!--<association property="categoryLevel2" javaType="com.caiqian.Bean.AppCategory">-->
            <!--<result property="categoryName" column="categoryLevel2Name"/>-->
        <!--</association>-->
        <!--<association property="categoryLevel3" javaType="com.caiqian.Bean.AppCategory">-->
            <!--<result property="categoryName" column="categoryLevel3Name"/>-->
        <!--</association>-->
    <!--</resultMap>-->


    <!--<select id="queryByDevUserId" resultMap="appInfoWithThreeCategoryAndVersion">-->
        <!--SELECT-->
            <!--t1.id appId,-->
            <!--t1.software_Name,-->
            <!--t1.APK_Name,-->
            <!--t1.software_Size,-->
            <!--t1.flatform_Id,-->
            <!--t1.`status`,-->
            <!--t1.downloads,-->
            <!--t1.version_Id,-->
            <!--tc1.category_Name AS categoryLevel1Name,-->
            <!--tc2.category_Name AS categoryLevel2Name,-->
            <!--tc3.category_Name AS categoryLevel3Name,-->
            <!--t3.version_No-->
        <!--FROM-->
            <!--app_info t1-->
                <!--LEFT JOIN-->
            <!--app_category tc1 ON t1.category_Level1 = tc1.id-->
                <!--LEFT JOIN-->
            <!--app_category tc2 ON t1.category_Level2 = tc2.id-->
                <!--LEFT JOIN-->
            <!--app_category tc3 ON t1.category_Level3 = tc3.id-->
                <!--LEFT JOIN-->
            <!--app_version t3 ON t1.version_Id = t3.id,-->
            <!--dev_user t4-->
        <!--<where>-->
            <!--t1.dev_Id = t4.id AND t4.id = #{devUserId}-->
        <!--</where>-->
    <!--</select>-->
    <insert id="add">


      insert into app_info
         <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="softwareName != null and softwareName != ''">
                ,software_name
            </if>
            <if test="apkName != null and apkName != ''">
                ,apk_name
            </if>
            <if test="supportRom != null and supportRom != ''">
                ,support_rom
            </if>
            <if test="interfaceLanguage != null and interfaceLanguage != ''">
                ,interface_language
            </if>
            <if test="softwareSize != null and softwareSize != ''">
                ,software_size
            </if>
            <if test="updateDate != null and updateDate != ''">
                ,update_date
            </if>
            <if test="devUser != null and devUser.id != ''">
                ,dev_id
            </if>

            <if test="appInfo != null and appInfo != ''">
                ,app_info
            </if>
            <if test="status != null and status != ''">
                ,status
            </if>
            <if test="appStatus != null and appStatus.valueId != null">
                ,status
            </if>
            <if test="onSaleDate != null and onSaleDate != ''">
                ,on_sale_date
            </if>
            <if test="flatformId != null and flatformId != ''">
                ,flatform_id
            </if>
            --                 这两句可能出错，视频使用的是下面的判断
            <if test="flatform != null and flatform.valueId != null">
                ,flatform_id
            </if>

            <if test="categoryLevel1 != null and categoryLevel1.id != null">
                ,category_level1
            </if>
            <if test="categoryLevel2 != null and categoryLevel2.id != null">
                ,category_level2
            </if>
            <if test="categoryLevel3 != null and categoryLevel3.id != null">
                ,category_level3
            </if>
            <if test="downloads != null and downloads != ''">
                ,downloads
            </if>
            <if test="devUser != null and devUser.id != null">
                ,created_by
            </if>
            <if test="modifyBy != null and modifyBy != ''">
                ,modify_by
            </if>
            <if test="modifyDate != null and modifyDate != ''">
                ,modify_date
            </if>
            <if test="logoPicPath != null and logoPicPath != ''">
                ,logo_pic_path
            </if>
            <if test="logoLocPath != null and logoLocPath != ''">
                ,logo_loc_path
            </if>
            <if test="newAppVersion != null and newAppVersion.id != null">
                ,version_id
            </if>
        </trim>
        <trim prefix="values(" suffix=")" prefixOverrides=",">
            <if test="softwareName != null and softwareName != ''">
                ,#{softwareName}
            </if>
            <if test="apkName != null and apkName != ''">
                ,#{apkName}
            </if>
            <if test="supportRom != null and supportRom != ''">
                ,#{supportRom}
            </if>
            <if test="interfaceLanguage != null and interfaceLanguage != ''">
                ,#{interfaceLanguage}
            </if>
            <if test="softwareSize != null and softwareSize != ''">
                ,#{softwareSize}
            </if>
            <if test="updateDate != null and updateDate != ''">
                ,#{updateDate}
            </if>
            <if test="devUser != null and devUser.id != ''">
                ,#{devUser.id}
            </if>

            <if test="appInfo != null and appInfo != ''">
                ,#{appInfo}
            </if>
            <if test="status != null and status != ''">
                ,#{status}
            </if>
            <if test="appStatus != null and appStatus.valueId != null">
                ,#{appStatus.valueId}
            </if>
            <if test="onSaleDate != null and onSaleDate != ''">
                ,#{onSaleDate}
            </if>
            <if test="flatformId != null and flatformId != ''">
                ,#{flatformId}
            </if>

            <if test="flatform != null and flatform.valueId != null">
                ,#{flatform.valueId}
            </if>

            <if test="categoryLevel1 != null and categoryLevel1.id != null">
                ,#{categoryLevel1.id}
            </if>
            <if test="categoryLevel2 != null and categoryLevel2.id != null">
                ,#{categoryLevel2.id}
            </if>
            <if test="categoryLevel3 != null and categoryLevel3.id != null">
                ,#{categoryLevel3.id}
            </if>
            <if test="downloads != null and downloads != ''">
                ,#{downloads}
            </if>
            <if test="devUser != null and devUser.id != null">
                ,#{devUser.id}
            </if>
            <if test="modifyBy != null and modifyBy != ''">
                ,#{modifyBy}
            </if>
            <if test="modifyDate != null and modifyDate != ''">
                ,#{modifyDate}
            </if>
            <if test="logoPicPath != null and logoPicPath != ''">
                ,#{logoPicPath}
            </if>
            <if test="logoLocPath != null and logoLocPath != ''">
                ,#{logoLocPath}
            </if>
            <if test="newAppVersion != null and newAppVersion.id != null">
                ,#{newAppVersion.id}
            </if>


        </trim>
      (software_name, apk_name, support_rom, interface_language,
                     software_size, update_date, dev_id, app_info, status, on_sale_date,
                     off_sale_date, flatform_id, category_level3, downloads, created_by,
                     creation_date, modify_by, modify_date, category_level1, category_level2,
                     logo_pic_path, logo_loc_path, version_id) value()
    </insert>


    <select id="query" resultMap="appInfoDetail">

        <!--SELECT   就是日了狗了，别改， 改就是报错-->
        <!--t1.software_Name,-->
        <!--t1.APK_Name,-->
        <!--t1.software_Size,-->
        <!--t2.value_name,-->
        <!--t3.category_Name AS category_level_one_name,-->
        <!--t4.category_Name AS category_level_two_name,-->
        <!--t5.category_Name AS category_level_three_name-->
        <!--FROM-->
        <!--app_info t1,-->
        <!--data_dictionary t2,-->
        <!--app_category t3,-->
        <!--app_category t4,-->
        <!--app_category t5,-->
        <!--data_dictionary t6,-->
        <!--app_version t7-->
    <!--<where>-->
        <!--AND 		t1.status = t2.id-->
        <!--AND t1.status = t6.id-->
        <!--AND t1.category_Level1 = t3.id-->
        <!--AND t1.category_Level2 = t4.id-->
        <!--AND t1.category_Level3 = t5.id-->
        <!--AND t1.version_id = t7.id-->
        SELECT
        t1.software_Name,
        t1.downloads,
        t1.APK_Name,
        t1.software_Size,
        t2.value_name,
        t3.category_Name AS category_level_one_name,
        t4.category_Name AS category_level_two_name,
        t5.category_Name AS category_level_three_name,
        t6.value_name app_status,
        t7.version_no
        FROM
        app_info t1
        left join data_dictionary t2 on t1.flatform_Id = t2.value_id
        left join app_category t3 on t1.category_level1 = t3.id
        left join app_category t4 on t1.category_level2 = t4.id
        left join app_category t5 on t1.category_level3 = t5.id
        left join data_dictionary t6 on t1.status = t6.value_id
        left join app_version t7 on t1.version_Id = t7.id
        left join dev_user t8 on t1.dev_id = t8.id
        <where>
            t2.type_code = 'APP_FLATFORM' and
            t6.type_code = 'APP_STATUS'

            <if test="appFlatform != null">
                and t1.flatform_Id = #{appFlatform}
            </if>
            <if test="appStatus != null">
                and t1.status = #{appStatus}
            </if>
            <if test="levelOne != null">
                AND t1.category_Level1 = #{levelOne}
            </if>
            <if test="levelTwo != null">
                AND t1.category_Level2 = #{levelTwo}
            </if>
            <if test="levelThree != null">
                AND t1.category_Level3 = #{levelThree}
            </if>
            <if test="softwareName != null and softwareName != ''">
                AND t1.software_Name like  concat('%', #{softwareName},'%')
            </if>
        </where>
    <!--</where>-->




    </select>

</mapper>